<!-- app/views/games/result.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Game Result</title>
</head>
<body>
  <h1>Game Result</h1>
  <p><%= @result %></p>

  <%= link_to 'New Game', '/new' %>
</body>
</html>
